.DS_Store
.dart_tool/
ios/Podfile.lock
android/app/src/main/java/io/
*.iml

.idea/
.metadata
.vscode/
flutter_01.log
flutter_02.log
pubspec.lock
test/

.packages
.pub/

build/

.flutter-plugins
.project
.settings
