.DS_Store
.dart_tool/
ios/Podfile.lock
android/app/src/main/java/io/
*.iml

.idea/
.metadata
.vscode/
pubspec.lock
test/

.packages
.pub/

build/

.flutter-plugins
.project
.settings
.gradle
*.flutter-plugins-dependencies

# protobuf抓包相关的文件
proto.desc
charles_mapping.xml
index.tmp

proxyman_mapping.config